<div id="<%= dom_id list %>">

  <p class="list-name">
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Created on: </strong>
    <%= list.created_at %>
    <strong>Created By: </strong>
    <%= list.user.email %>
    <strong>Last updated at: </strong>
    <%= list.updated_at %>
  </p>

  
  
  

  <p>
    <strong>List Type:</strong>
    <%= list.list_type %>
  </p>

  <p>
    <strong>Is Archived: </strong>
    <%= list.archived %>
  </p>

  <p>
    <strong>Group: </strong>
    <% if list.group %>  
      <%= link_to list.group.name, group_path(id: list.group.id) %>
    <% end %>
  </p>

</div>
