<div id="<%= dom_id list %>">
  <p>
    <strong>Created By: </strong>
    <%= list.user.email %>
  </p>
  
  <p class="list-name">
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>List Type:</strong>
    <%= list.list_type %>
  </p>

  <p>
    <strong>Is Archived: </strong>
    <%= list.archived %>
  </p>

  <p>
    <strong>Group: </strong>
    <% if list.group %>  
      <%= list.group.name %>
    <% end %>
  </p>

</div>
