<div class="row">
  <div class="col-md-2 sidebar">
    <h5 class="text-center text-warning">Upcoming deadlines</h5>
    <% @apr_items.each do |ai| %>
      <div class="text-warning">
        <p> <%= ai.name %> </p>
        <p> <%= ai.deadline %> </p>
      </div>
    <% end %>
    <hr>
    <h5 class="text-center text-danger">Past Due items</h5>
    <% @past_items.each do |pi| %>
      <div class="text-danger">
        <p> <%= pi.name %> </p>
        <p> <%= pi.deadline %> </p> 
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1 class="text-center"> <%= @title %> </h1>
    <%= image_tag("big_logo.png") %>
  </div>
  <div class="col-md-6"></div>
</div>