<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= item.deadline %>
  </p>

  <p>
    <strong>Priority level: </strong>
    <% if item.priority_level == 5 %>
      <div class="pLevel5 w-25 text-center"> <%= item.priority_level %> </div>
    <% elsif item.priority_level == 4 %>
      <div class="pLevel4 w-25 text-center"> <%= item.priority_level %> </div>
    <% elsif item.priority_level == 3 %>
      <div class="pLevel3 w-25 text-center"> <%= item.priority_level %> </div>
    <% elsif item.priority_level == 2 %>
      <div class="pLevel2 w-25 text-center"> <%= item.priority_level %> </div>
    <% elsif item.priority_level == 1 %>
      <div class="pLevel1 w-25 text-center"> <%= item.priority_level %> </div>
    <% end %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list.name %>
  </p>

  <p>
    <strong>Past due: </strong>
    <%= item.deadline < DateTime.now %>
  </p>

  <div class="mb-4">
    <% if item.picture.attached? %>
      <%= image_tag(item.picture, size: '100')%>
    <% else %>
      <p> No picture </p>
    <% end %>
  </div>
  

</div>
