<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= item.deadline %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list.name %>
  </p>

</div>
