<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= item.deadline %>
  </p>

  <p>
    <strong>Priority level: </strong>
    <% if item.priority_level == 4 %>
      <p> <%= item.priority_level </p>
    <%= item.priority_level %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list.name %>
  </p>

  <p>
    <strong>Past due: </strong>
    <%= item.deadline < DateTime.now %>
  </p>

  <div class="mb-4">
    <% if item.picture.attached? %>
      <%= image_tag(item.picture, size: '100')%>
    <% else %>
      <p> No picture </p>
    <% end %>
  </div>
  

</div>
