<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-success mb-3" %> |
  <%= link_to "Back to list", list_path(@item.list), class: "btn btn-primary mb-3" %>

  <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-danger" %>
</div>
