<% if @user.avatar.attached? %>
  <div class="text-center mt-3"> <%= image_tag(@user.avatar , size: '100')%> </div>
<% elsif !@user.avatar.attached? %>
  <div class="text-center mt-3"> <%= image_tag("defaultpfp.png") %> </div>
<% end %>
<%# @user.avatar.attached? %>
<h1 class="text-center"><%= @user.name %></h1>
<p class="text-center">Email: <%= @user.email %></p>


<div class="text-center mt-4">
  <% if @user == current_user %>
    <%= link_to "Edit account", edit_user_registration_path(id: @user.id), class: "btn btn-warning" %>
  <% end %>
  <%= link_to "Back to users", user_management_index_path, class: "btn btn-primary" %>
</div>
